<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="notepadplusplus" />
  <package id="googlechrome" />
  <package id="veracrypt" />
  <package id="7zip" />
  <package id="git" />
  <package id="adobereader" />
  <package id="firefox" />
  <package id="vlc" />
  <package id="kitty" />
  <package id="skype" />
  <package id="vscode" />
  <package id="wget" />
  <package id="curl" />
  <package id="filezilla" />
  <package id="1password" />
  <package id="virtualbox" /> 
  <package id="postman" /> 
  <package id="ifranview" /> 
  <package id="opera" /> 
  <package id="jq" /> 
  <package id="docker-desktop" /> 
  <package id="whatsapp" /> 
  <package id="telegram" /> 
  <package id="dbeaver" /> 
  <package id="sublimetext3" /> 
  <package id="totalcommander" /> 
  <package id="vmware-horizon-client" /> 
  <package id="rsync" /> 
  <package id="rufus" /> 
  <package id="sqlite3" /> 
  <package id="FoxitReader" /> 
  <package id="neovide" /> 
  <package id="superputty" /> 
  <package id="SublimeText3" /> 
  <package id="obsidian" /> 
  <package id="paint.net" /> 

  <!--package id="chocolateytestpackage" version="0.1" source="somelocation" />
  <package id="alloptions" version="0.1.1"
           source="https://somewhere/api/v2/" installArguments=""
           packageParameters="" forceX86="false" allowMultipleVersions="false"
           ignoreDependencies="false"
           /-->
</packages>
